/* Base */
.navigation-section-one::after{
	background: #1f1e1d !important;
}

.navigation-section-two::after{
    background: #f53d1f !important;
}

.navigation-section-three::after{
    background: #1f1e1d !important;
}
.navigation-section-four::after{
    background: #f53d1f !important;
}

.navigation-section-one-not-selected::after{
	background-color: #b3b3b3 !important;
}
.navigation-section-two-not-selected::after{
	background-color: #cccccc !important;
}
.navigation-section-three-not-selected::after{
	background-color: #cccccc !important;
}
.navigation-section-four-not-selected::after{
	background-color: #cccccc !important;
}


#awwwards{
	position: fixed;
	top: 11vh;
	width: 70px;
	height: 120px;
	text-indent: -999em !important;
	overflow: hidden;
	z-index: 11;
	background-color: transparent !important;
	-webkit-transition: all 1s ease;
    transition: all 1s ease; 
}
#awwwards.top{
	top: 20px;
}
#awwwards.left{
	left: 0;
}
#awwwards.right{
	right: 0;
}

#awwwards a{
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -9999em;
	display: block;
	width: 70px;
	height: 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

@media (max-width: 767px) {
	#awwwards,
	#awwwards a{
		width: 50px;
	}
}

/* NOMINEE */

#awwwards.nominee.black.left a{
	background-image: url(../assets/img/ribbons/awwwards_nominee_black_left.png);
}
#awwwards.nominee.black.right a{
	background-image: url(../assets/img/ribbons/awwwards_nominee_black_right.png);
}
#awwwards.nominee.silver.left a{
	background-image: url(../assets/img/ribbons/awwwards_nominee_silver_left.png);
}
#awwwards.nominee.silver.right a{
	background-image: url(../assets/img/ribbons/awwwards_nominee_silver_right.png);
}
#awwwards.nominee.white.left a{
	background-image: url(../assets/img/ribbons/awwwards_nominee_white_left.png);
}
#awwwards.nominee.white.right a{
	background-image: url(../assets/img/ribbons/awwwards_nominee_white_right.png);
}
#awwwards.nominee.green.left a{
	background-image: url(../assets/img/ribbons/awwwards_nominee_green_left.png);
}
#awwwards.nominee.green.right a{
	background-image: url(../assets/img/ribbons/awwwards_nominee_green_right.png);
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2),	only screen and (min-device-pixel-ratio: 1.5) {

	/* NOMINEE */

	#awwwards.nominee.black.left a{
		background-image: url(../assets/img/ribbons/awwwards_nominee_black_left@2x.png);
	}
	#awwwards.nominee.black.right a{
		background-image: url(../assets/img/ribbons/awwwards_nominee_black_right@2x.png);
	}
	#awwwards.nominee.silver.left a{
		background-image: url(../assets/img/ribbons/awwwards_nominee_silver_left@2x.png);
	}
	#awwwards.nominee.silver.right a{
		background-image: url(../assets/img/ribbons/awwwards_nominee_silver_right@2x.png);
	}
	#awwwards.nominee.white.left a{
		background-image: url(../assets/img/ribbons/awwwards_nominee_white_left@2x.png);
	}
	#awwwards.nominee.white.right a{
		background-image: url(../assets/img/ribbons/awwwards_nominee_white_right@2x.png);
	}
	#awwwards.nominee.green.left a{
		background-image: url(../assets/img/ribbons/awwwards_nominee_green_left@2x.png);
	}
	#awwwards.nominee.green.right a{
		background-image: url(../assets/img/ribbons/awwwards_nominee_green_right@2x.png);
	}

}
