.scroll_down {
  float: left;
  margin-right: 25px;
  margin-bottom: 20px;
}

.scroll_down.rotateTop {
  position: fixed;
  /* left: 0; */
  right: 0;
  bottom: 20px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(31, 30, 29, 0.3);
  background-color: #808080;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #808080;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #f53d1f;
  cursor: pointer;
}

section {
  position: relative;
  height: 100%;
  scroll-snap-align: start;
}

.Loop {
  position: relative;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
}

.raleway {
  font-family: Raleway, sans-serif;
}

.logo .logo-left {
  font-weight: 700;
}

.logo .logo-right {
  font-weight: 300;
  margin-left: -2px;
}

#logo_grey {
  display: none;
}

.bg-bar img {
  max-height: 310px;
  float: right;
  margin-right: 80px;
  margin-top: 210px;
}

.panel .sections .menu {
  padding-left: 10px;
  padding-right: 100px;
  font-family: 'Fractul-Medium';
}

.panel .sections .menu li {
  margin-left: 6px;
  margin-right: 6px;
  color: #1f1e1d;
}

.panel .sections .menu li a {
  font-size: 2.2rem;
  font-weight: 400;
}

.panel .button:not(.actionButton) {
  font-size: 2.1rem;
  font-weight: 400;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.slide-services li {
  margin-top: 05px;
}

.slide-services i {
  font-size: 8rem;
}

.slide-services i.icon-basic-elaboration-tablet-heart {
  margin-left: -8px;
}

@media (max-width: 767px) {
  .slide-services i.icon-basic-elaboration-tablet-heart {
    margin-left: -5px;
  }
}

.slide-services h3 {
  margin-top: 50px;
}

.services-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-bottom: 50px;
}

.services-icon img {
  width: 100px;
}

.slide-services .small {
  font-size: 2.1rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .slide-services .small {
    padding-right: 15%;
  }
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides1 {
  display: none
}

/* Slideshow container */

.slideshow1-container {
  position: relative;
  margin: auto;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.9s;
  animation-name: fade;
  animation-duration: 1.9s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.slide-clients p {
  opacity: 1;
}

.slide-clients p span {
  opacity: 0.8;
}

.slide-clients p i {
  color: white;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  position: relative;
}

.slide-clients .tintLogos {
  filter: brightness(1) !important;
}

.slide-clients .tintLogos a {
  display: inline-block;
}

@media (min-width: 768px) {
  .slide-clients .tintLogos.grid {
    margin-left: calc(-2% - 18px) !important;
  }
}

.slide-clients .tintLogos.grid-68 {
  padding-top: 20px;
}

.slide-clients .tintLogos.grid-68>li {
  margin-top: -3px;
  margin-bottom: -3px;
}

.slide-clients .tintLogos.grid-68>li a img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.slide-clients .gogoro {
  margin-top: 18px !important;
}

.slide-clients .forwardline {
  margin-top: 0px !important;
}

.slide-clients .welltrado {
  margin-top: 8px !important;
}

.slide-clients .filippo {
  margin-top: 17px !important;
}

@media (max-width: 767px) {
  .slide-clients .mav {
    margin-top: 6px !important;
  }
  .slide-clients .kiln {
    margin-top: 26px !important;
  }
  .slide-clients .gogoro {
    margin-top: 15px !important;
  }
  .slide-clients .forwardline {
    margin-top: 4px !important;
  }
  .grid-68 img {
    transform: none !important;
  }
  .slide-clients .tintLogos a:hover {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .slide-clients .tintLogos.grid-68>li a:hover {
    opacity: 1;
  }
}

.text-100 {
  font-weight: 300;
}

.text-300 {
  font-weight: 300;
}

.max-900 {
  max-width: 900px;
}

.max-580 {
  max-width: 580px;
}

.slide-index .large {
  margin: 7rem 0;
}

.slide-index .container .wrap:not(.noSpaces) {
  padding-bottom: 0%;
}

@media (max-height: 770px) and (min-width: 768px) {
  .slide.slide-index .background {
    background-position: center 40%;
  }
}

.home-more {
  display: inline-block;
}

.slide-index.fade .content {
  background-color: rgba(17, 19, 20, 0.3);
}

@media (min-width: 768px) {
  .home-more {
    margin-left: -18px;
    margin-top: 10rem;
  }
}

@media (max-width: 767px) {
  .home-more {
    margin-left: -12px;
    margin-top: 8rem;
  }
}

.home-more * {
  display: inline-block;
  vertical-align: middle;
}

.home-more i {
  font-size: 6rem;
}

.home-more span {
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  display: inline-block;
}

@media (max-width: 767px) {
  .home-more span {
    font-size: 1.9rem;
  }
}

.slide-contact.fade .content {
  background-color: rgba(17, 19, 20, 0.2);
}

.slide-contact .button {
  margin-left: 0;
}

.slide-contact h1 {
  margin-bottom: 30px;
}

.slide-contact p {
  opacity: 1;
}

.slide-contact strong {
  font-weight: 500;
}

.slide-contact .hr-92 {
  margin-top: 60px;
}

.slide-contact h3 {
  font-weight: 500;
}

.slide-contact ul li {
  margin-top: 20px;
}

.slide-contact ul li p {
  opacity: 0.65;
  font-size: 2.15rem;
  line-height: 140%;
}

.slide-contact ul li a:hover i {
  margin-left: 7px;
}

.slide-contact ul li a i {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 1px;
  margin-left: 5px;
  vertical-align: middle;
}

.text-700 {
  font-weight: 700;
}

.slide-testimonial h1 {
  position: relative;
}

.slide-testimonial h1 .quote {
  position: absolute;
  font-size: 18rem;
  font-weight: 400;
  top: -43px;
  left: -80px;
  width: 30px;
  height: 30px;
  opacity: 0.2;
  display: block;
}

@media (max-width: 767px) {
  .slide-testimonial h1 .quote {
    top: -28px;
    left: -4px;
  }
}

.slide-testimonial .testimonialLocation p {
  font-size: 2.1rem;
  margin-bottom: 0;
}

.slide-testimonial .testimonialLogos .fix-6-12 {
  margin-left: -8px !important;
  opacity: 0.8;
}

.slide-testimonial .testimonialLogos .fix-6-12 .grid-68 img:hover {
  transform: none;
}

.slide-testimonial[data-name="testimonial-endru"] .testimonialLogos .col-2-12 {
  padding-left: 0;
  padding-right: 0;
  max-width: 80px;
}

.slide-clients.fade .content, .slide-services.fade .content, .slide-testimonial.fade .content {
  background-color: transparent;
}

.slide-clients .background {
  background-image: linear-gradient(45deg, #3fb9a8, #0e76bf);
}

.slide-services .background {
  background-image: #1f1e1d;
}

.slide-testimonial-christine .background {
  background-color: #a7a7a7;
}

.slide-testimonial-endru .background {
  background-color: #a7a7a7;
}

.slide-testimonial-justin .background {
  background-color: #a7a7a7;
}

.button.pink {
  background-color: transparent;
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%) !important;
}

.button.actionButton {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.sidebar .logo {
  font-size: 5rem;
  color: #fff !important;
}

.sidebar {
  width: 250px;
  background-image: linear-gradient(60deg, #545454 0%, #909090 100%);
}

@media (max-width: 767px) {
  .panel.top {
    padding: 1rem 1rem 1rem 4rem;
  }
  h1 br {
    display: none;
  }
  .container .wrap:not(.noSpaces), .container .wrap.spaceWrap, .container .wrap .spaceWrap {
    padding: 20rem 8rem 1rem 4rem;
  }
  .slide.slide-testimonial .wrap {
    padding-top: 21vh;
  }
  .slide.slide-index .background {
    background-position: 68% center;
  }
  h1.large {
    font-size: 32px;
    line-height: 120%;
  }
  .slide-clients p {
    font-size: 3.5rem;
  }
  .slide-clients .tintLogos.grid-68>li {
    margin-bottom: 20px;
  }
  .slide-clients .grid.later>[class*='col-'] {
    max-width: 33.33333% !important;
    width: 33.33333% !important;
  }
  .slide-clients .grid.later>[class*='col-']:nth-child(3n+1) {
    clear: left;
  }
  .slide-clients .table {
    height: 70px !important;
  }
  .slide-clients .table .cell {
    padding-left: 15px;
    padding-right: 15px;
  }
  .slide.slide-testimonial h1.large {
    font-size: 27px;
  }
  .slide.slide-testimonial h3, .slide.slide-testimonial p.small {
    font-size: 17px;
  }
  .slide.slide-testimonial p.small {
    font-size: 15px;
    padding-right: 40px;
  }
  .slide.slide-testimonial .testimonialLocation p {
    font-size: 14px;
  }
  .slide.slide-testimonial .testimonialLogos {
    padding-left: 8px;
  }
  .slide.slide-testimonial .table {
    height: 70px !important;
  }
  .slide.slide-testimonial .grid>.col-2-12 {
    max-width: 22% !important;
  }
  .slide.slide-testimonial.slide-testimonial-endru .testimonialLogos li:nth-child(1) img, .slide.slide-testimonial.slide-testimonial-endru .testimonialLogos li:nth-child(2) img {
    width: 35px !important;
  }
  .slide.slide-testimonial.slide-testimonial-endru .testimonialLogos li:nth-child(3) {
    padding-left: 7px;
  }
  .slide.slide-testimonial.slide-testimonial-endru .testimonialLogos li:nth-child(3) img {
    width: 45px !important;
  }
  .slide.slide-testimonial.slide-testimonial-justin .testimonialLogos li:nth-child(1) img {
    width: 50px !important;
    margin-top: 14px;
  }
  .slide.slide-testimonial.slide-testimonial-justin .testimonialLogos li:nth-child(2) img {
    max-width: 67px !important;
  }
  .slide-services h3 br {
    display: none;
  }
  .slide-services .small {
    font-size: 3rem;
  }
  .slide-contact p {
    font-size: 3.5rem;
  }
  .slide-contact ul li p {
    font-size: 3rem;
  }
  .slide-contact .background {
    background-position: 80% center;
  }
}

.page-loaded.sidebarShown .slide.selected {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
  pointer-events: none;
  opacity: 0.3 !important;
}

.sidebar .social, .sidebar .social li {
  vertical-align: middle;
}

.sidebar .social li:nth-child(2) a svg {
  height: 16px;
}

.slide-portfolio .thumbnail-70 {
  overflow: hidden;
  padding-bottom: 75%;
}

.thumbnail-70.thmbRed {
  background-color: #f53d1f;
  height: 300px;
}

.thumbnail-70.thmbDGrey {
  background-color: #1f1e1d;
  height: 300px;
}

.thumbnail-70.thmbLGrey {
  background-color: #f2f2f2;
  height: 300px;
}

.slide-portfolio .info-70 {
  padding-top: 7%;
  text-align: left;
  padding-left: 6.5%;
}

.slide-portfolio .info-70 .small {
  font-size: 18px;
}

.slide-portfolio .box-70 p {
  margin-top: 30px;
  margin-bottom: 0;
}

.slide-portfolio .title-70 {
  max-width: 100%;
}

.slide-portfolio .box-70 {
  margin-bottom: 20px;
}

.slide-portfolio .thumbnail-70 img {
  /*transform: rotate(-3deg) scale(1.2);*/
}

.slide-portfolio .background {
  background-color: #fff;
}

.slide-portfolio .title-70 span {
  font-weight: 300;
}

.slide-portfolio h1 {
  margin-bottom: 15px;
  color: #4d4d4d;
}

.category-50 {
  opacity: 1;
  text-align: right;
  margin-top: 210px;
}

.category-50.catgWhite {
  color: #fff;
}

.category-50.catgRed {
  color: #f53d1f;
}

.portfolio-item-1 {
  /*background-image: linear-gradient(45deg, #fff 0%, rgba(241, 181, 166, 0.4) 100%); */
}

.portfolio-item-2 {
  /*background-image: linear-gradient(45deg, #fff 0%, rgba(104, 200, 244, 0.4) 100%); */
}

.portfolio-item-3 {
  /*background-image: linear-gradient(45deg, #fff 0%, rgba(46, 113, 144, 0.26) 100%); */
}

.slide-portfolio .box-70 {
  background-color: #f3f0f0;
}

@media (max-width: 767px) {
  .slide-portfolio .box-70:hover {
    transition: none;
    background-color: #f3f0f0 !important;
    box-shadow: none;
  }
}

@media (min-width: 768px) {
  .slide-portfolio .box-70:hover {
    transition: all 0.7s;
    background-color: #e0dddd !important;
    box-shadow: 0px 22px 23px 0px rgba(0, 0, 0, 0.25);
  }
}

.slide-index .wrap, .stage-1 .panel .sections .menu {
  /*filter: invert(1);*/
}

.stage-1 .logo {
  color: #000;
}

.stage-1 .button.actionButton svg, .stage-1 .button.actionButton svg svg {
  fill: #f53d1f !important;
}

@media (max-width: 767px) {
  .stage-1 .side.medium {
    opacity: 0;
  }
}

.logo, .panel .sections .menu, .navigation, .button.actionButton svg, .side.medium {
  transition: all 0.35s;
  transition-delay: 0.5s;
}

@media (min-width: 768px) {
  .side.medium {
    transition-delay: 0.5s;
  }
  .stage-1 .navigation {
    /*filter: invert(1);*/
  }
}

@media (max-width: 767px) {
  .side.medium {
    display: none;
  }
}

.slide-index .container .wrap:not(.noSpaces) {
  /*padding-left: calc(3% + 15px);*/
}

.slide-index .fix-12-12 {
  /*max-width: 1240px !important;*/
}

.make-it-count {
  max-width: 510px;
  margin-left: -11px;
  margin-top: 6rem;
}

@media (min-width: 768px) {
  .make-it-count>div:not(:last-child) {
    padding-right: 35px;
  }
}

.make-it-count .number {
  font-size: 28px;
}

.make-it-count .text {
  opacity: 0.6;
}

.mobile-show {
  display: none;
}

@media (max-width: 767px) {
  .slide.slide-index .wrap {
    padding-top: 70px;
    padding-left: 17px;
    display: block;
  }
  .mobile-show {
    display: block;
  }
  .desktop-show {
    display: none;
  }
  .slide-index h1.huge {
    font-size: 46px;
  }
  .slide-index h1.large {
    font-size: 26px;
    max-width: 195px;
  }
  .make-it-count {
    max-width: 138px;
    margin-left: -2px;
    margin-top: 5rem;
  }
  .make-it-count .number {
    font-size: 20px;
  }
  .make-it-count .text {
    font-size: 14px;
    /*font-weight: 300;*/
  }
  .make-it-count>div:not(:last-child) {
    padding-bottom: 15px;
  }
  #awwwards {
    top: 55px !important;
  }
}

.more-link {
  text-align: left;
  padding-left: 1px;
  padding-bottom: 60px;
}

.more-link.clients-more {
  padding-left: 19px;
}

@media (min-width:992px) {
  .col-md-6 {
    float: left;
    width: 50%;
    position: relative;
    min-height: 1px;
  }
}

@keyframes sectionSelected {
  from {
    background-color: #fff !important;
  }
  to {
    background-color: #c4c4c4 !important;
  }
}